<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<body>
	<div class="container">
		<form id="forgotPasswordForm" th:action="@{/api/v1/update-password}"
			th:method="post" novalidate>
			<div>
				<label for="password" class="form-label">Enter New Password</label>
				<input type="password" class="form-control" id="password"
					th:name="password">
				<div class="invalid-feedback">Password must be at least 8
					characters long.</div>
			</div>
			<div>
				<label for="confirmPassword" class="form-label">Confirm
					Password</label> <input type="password" class="form-control"
					id="confirmPassword" th:name="confirmPassword" required>
				<div class="invalid-feedback">
				    Passwords do not match.
				</div>
			</div>
			<input type="hidden" th:name="key" th:value="${key}">
			<button class="btn btn-outline-primary mt-3" type="submit">Change
				Password</button>
		</form>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

	<script>
		let form = document.getElementById('forgotPasswordForm');
        let password = document.getElementById('password');
        let confirmPassword = document.getElementById('confirmPassword');
		(function() {
			'use strict'
			form.addEventListener('submit', function(event) {
				if (!form.checkValidity()) {
					event.preventDefault()
					event.stopPropagation()
				}
				form.classList.add('was-validated')
			}, false)
		})()
		
    (function () {
        'use strict'

        function validatePasswords() {
            if (password.value !== confirmPassword.value) {
                confirmPassword.setCustomValidity("Passwords do not match");
            } else {
                confirmPassword.setCustomValidity("");
            }
        }

        form.addEventListener('submit', function (event) {
            validatePasswords();
            
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            
            form.classList.add('was-validated');
        }, false);

        confirmPassword.addEventListener('input', validatePasswords);
        password.addEventListener('input', validatePasswords);
    })();
	</script>
</body>
</html>